.sobre-mi{
    padding-top: 40px;
    color: white;
    margin-top: 50px;
}

.division-acerca{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}
.titulo-acerca{
    text-align: center;
}

.descripcion-acerca{
    width: 50%;
    text-align: center;
    
}

.imagen-habilidades{
    width: 70px;
    height: 70px;
    
}
.fondo-acerca{
    background-color: rgb(9, 6, 62);;
}
.descripcion-acerca{
   color: white;
   
}